.header-custom{
    background-image: url(./media/viaggibk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

.footer-custom{
    background-color: orange;

}


.card-img-top{
    width: 300px;
    height: 300px;
}

.img-custom{
    width: 700px;
}

.footer-custom{
    height: 300px;

}
