h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}

p{
    font-family: 'Courier New', Courier, monospace;
    


}

nav{
    background-color: burlywood;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    word-spacing: 2px;
    position: fixed;
   

}

nav li{
    list-style-type: none;
    display: inline-block;
    
}


.listlink {
    list-style-type: none;
    display: flex;
}

header{
    background-image: url(backgroundimg.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid;
    
}



/* body{
    background-image: url(./media/backgroundimg.jpg); 
    background-repeat: no-repeat; //serve per non ripetere l'immagine in tutto il body ma renderla visibile solo una volta
    
} */



a:hover{
    background-color: blue;
}


h1{
    color: white;
    margin-right: 10px;
    font-size: 80px;

}

.titleArticle{
    text-align: center;
    font-size: 30px;
  
}

.imgArticle{
    max-width: 100%; height: auto;

}

article{
    width: 20%;
}

.logoaulab{

    width: 50px;
    height: 50px;
    
  
}

.containerarticle{
   width: 60%;
   display: flex;
   justify-content: space-around;
}

.main_section{
    display: flex;
}

aside{
    width: 40%;
}

footer{
    background-color: rgb(38, 38, 38,0.744);
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 30vh;
    margin-top: 100px;

}

.Imgicon{
    width: 50px;
    height: 50px;
    animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 50vh;

}

@keyframes icon{

    0%{
        transform: translateY(50px);

    } 100%{
        transform: translateY(0px);
    }

}

@media screen and (max-width: 670px) {

    .link{
        font-size: 10px;
    }
    .logo{
        width: 30px;
        height: 30px;

    }
    .containerarticle{
        display: block;
        width: 100%;
    }
    
    aside{
        width: 100%;
        display: block;
    }

    .main_section {

        display: block;
    }

    footer{

        display: block;
    }


}

