h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}

p{
    font-family: 'Courier New', Courier, monospace;
    


}

nav{
    background-color: burlywood;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    word-spacing: 2px;
    position: fixed;
   

}

nav li{
    list-style-type: none;
    display: inline-block;
    
}


.listlink {
    list-style-type: none;
    display: flex;
}

header{
    background-image: url(backgroundimg.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid;
    
}



/* body{
    background-image: url(./media/backgroundimg.jpg); 
    background-repeat: no-repeat; //serve per non ripetere l'immagine in tutto il body ma renderla visibile solo una volta
    
} */



a:hover{
    background-color: blue;
}


h1{
    color: white;
    margin-right: 10px;
    font-size: 80px;

}

.titleArticle{
    text-align: center;
    font-size: 30px;
  
}

.imgArticle{
    max-width: 100%; height: auto;

}

article{
    width: 20%;
}

.containerarticle{
   width: 60%;
   display: flex;
   justify-content: space-around;
}

.main_section{
    display: flex;
}

aside{
    width: 40%;
}

tornasu{
    position: fixed;
    align-items: end;
}


@media screen {
    tornasu{
        min-height: 20px;
    }
}

